.Container {
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 2rem;

    &--flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;
    }
}
