.Header {
    width: 100%;
    background-color: color(charlie);
    color: color(alpha);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
}

.Header__sidebar {
    position: fixed;
    top: 2.5rem;
    bottom: 0;
    right: 0;
    background: color(charlie);
    color: color(alpha);
    width: 12.5rem;
    height: 100%;
}

.Header__sidebar-link {
    display: block;
    width: 100%;
    text-align: right;
    padding: 1rem;
    color: color(alpha);
}
