.Form {
    width: 100%;

    &--login {
        max-width: 38rem;
        margin: 0 auto;

        & .Button {
            width: 100%;
            display: block;
        }
    }
}

.Form__fieldset {
    position: relative;
    margin-bottom: 2.815rem;
}

.Form__input {
    padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
    font-size: 1.125rem;
    display: block;
    width: 100%;
    border-bottom: 1px solid color(charlie);
}

.Form__label {
    color: color(charlie);
    font-size: 1.125rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.3125rem;
    top: 0.625rem;
    transition: 0.2s ease all;
}

.Form__input-bar {
    position: relative;
    display: block;
    width: 100%;
    &:before,
    &:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: color(delta);
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    &:before {
        left: 50%;
    }
    &:after {
        right: 50%;
    }
}

.Form__input {
    &:focus~.Form__label,
    &:valid~.Form__label {
        top: -20px;
        font-size: 14px;
        color: color(delta);
    }
    &:focus~.Form__input-bar:before,
    &:focus~.Form__input-bar:after {
        width: 50%;
    }
}
