.Icon {
    &,
    & svg {
        display: inline-block;
        width: 100%;
    }
}

@each $label, $size in $icon-sizes {
    .Icon--#{$label} {
        max-width: $size;
    }
}

@each $name, $color in $colors {
    .Icon--fill-#{$name} {
        svg {
            fill: $color;
        }
    }
  }
